.heroContainer {
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-foreground);
}

.title {
  font-weight: 400;
}
