.btn {
  padding: 0.6rem 1rem;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 0.3rem;
  font-size: var(--text-sm);
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--primary-color-hover);
  color: var(--background-color);
}

.btn-secondary {
  background-color: var(--background-color);
  border: solid 1px var(--primary-color-border);
  border-radius: 0.3rem;
  font-size: var(--text-sm);
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: var(--secondary-color-hover);
  color: var(--primary-color);
}
